{% extends "endulzapp/base.html" %}




{% block title %}
    {% if request.get_full_path == "/meterPostre/"  %}
        Ingresar postre
    {% endif %}

    {% if "/editarPostre/" in request.get_full_path %}
        Modificar postre
    {% endif %}
{% endblock %}



{% block mainBodyIndex %}
    <center>
        <h1 class="display-3">
            Ingresa los datos del postre
        </h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="w-50 table table-light">
                {% for field in upload_form %}
                    <tr>
                        <th>{{ field.label }}</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% if request.get_full_path == "/meterPostre/"  %}
                <button type="submit" class="btn btn-lg btn-primary">
                    Agregar postre
                </button>
            {% endif %}

            {% if "/editarPostre/" in request.get_full_path %}
                <button type="submit" class="btn btn-lg btn-primary">
                    Modificar postre
                </button>
            {% endif %}
        </form>
    </center>
{% endblock %}